<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, pariatur esse quaerat deleniti quis exercitationem dolor tempore enim necessitatibus nobis consequuntur consequatur explicabo impedit. Inventore culpa enim cumque dicta expedita.</p>

    <button>
        <a href="https://www.instagram.com/"> Insta</a>
        <a href="http://localhost:8080/view"> View</a>
    </button>
</body>
</html>