.soda{
    --left:0vw;
    background: var(--url) var(--left), url(sodacan.png) 0 0;
    background-size: auto 100%;
    height: 45vw;
    width: 17vw;
    background-blend-mode: multiply ;
    mask-image: url(sodacan.png);
    mask-size: auto 100%;
    transition:  0.8;
    animation: onScroll;
    animation-timeline: view(auto);
}
.product:hover .soda:nth-child(2), .product:hover .soda:nth-child(1){
    --left: -50vw
}
@keyframes onScroll{
    from{
        transform: translateY(0vw) translateX(0) rotate(0deg);
    }
    to{
        transform: translateY(-55vw) translateX(-47vw) rotate(50deg);
    }
}
